<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript">
    //declare d3 variables
    var data = <%- JSON.stringify( data[0] ); %>
    var data_habits = <%- JSON.stringify( data[1] ); %>
    var data_weight = <%- JSON.stringify( data[2] ); %>
    var data_rescue_day = <%- JSON.stringify( data[3] ); %>
    var data_sleep = <%- JSON.stringify( data[4] ); %>
    //console.log(data_habits)
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.jpg">
    </a>
    <br>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span></a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span></a>
  </div>
</div>


<!-- Visualization !-->
<body>  
<div class="text-center">
    <script src="https://unpkg.com/d3-3d/build/d3-3d.js"></script>
    <style type="text/css">
        button {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    </style>




<svg width="860" height="500" id = 'habit'> 
    <% include ../partials/_make_habits_3dBar.ejs %> -->
    </svg>
<svg width="860" height="600"  id="rescue_time">    
    <% include ../partials/_make_rescuetime_dial.ejs %>
    </svg>

<svg width="860" height="500" id="weight">    

    <% include ../partials/_make_weight_3dBar.ejs %> --> 
    </svg>

    
<svg width="860" height="500" id="scatter">    

    <% include ../partials/_make_test_3dMesh.ejs %> --> 
    </svg>

        
<svg width="860" height="500" id="sleep">    
        <% include ../partials/_make_sleep_3dBar.ejs %> --> 
        </svg>
    
</div>
</body>
<footer>
    
</footer>
</html>
